body{
    background-color: bisque;
    background-size: 100% 100%;
    margin:0;  
}

header{
    background-color: cadetblue;
    box-shadow: 0px 9px 11px black;
    border: solid 1px;
    height: 75px;
    margin: 0; 
}

ul{
    margin-top: 23px;
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

li a{
    text-shadow: 3px 3px 2px black;
    font-size: 30px;
    font-family: monospace;
    text-decoration: none;
    color: white;
}

li a:hover{
    zoom: 1.5;
}

#main_index{
    margin-top: -1%;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

#titremain{
    color: darkorange;
    text-shadow: 3px 1px 2px black;
    font-size: xx-large;
    display:flex;
    flex-direction: row;
    justify-content: center;
}

#imgmain{
    margin-top: -2%;
    display:flex;
    flex-direction: row;
    justify-content: center;
}

#phpmain{
    display:flex;
    flex-direction: column;
    align-items: center; 
}

.mainbas{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

#mybutton_index{
    height: 37px;
    width: 143px;
    border: 3px solid #eb6279;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    margin-top: 14px;
    background-color: rgb(250, 153, 178);
    margin-left: 13%;
    font-family: sans-serif;
}

#AD1{
    color: rgb(255, 0, 128);
}

#AD2{
    color: rgb(255, 0, 128);
}

#color{
    color: darkorange;
}

.text{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.etoile{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.imgetoile{
    width: 77%;
    height: 60%;
}

.acces{
    margin-left: 10%;
}

#index{
    background-color: cadetblue;
    box-shadow: 0px 9px 11px black;
    border: solid 1px;
    width: 100%;
    text-align: center;
    font-size: large; 
    margin-top: 1%;
}

a:visited{
    color:white;
}

a{
    text-shadow: 2px 1px 1px black;
    font-size: larger;
}



/*-----------INSCRIPTION-------------*/



body{
    background-color: bisque;
    background-size: 100% 100%;
    margin:0;  
}

header{
    background-color: cadetblue;
    box-shadow: 0px 9px 11px black;
    border: solid 1px;
    height: 75px;
    margin: 0; 
}

ul{
    margin-top: 23px;
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

li a{
    text-shadow: 3px 3px 2px black;
    font-size: 30px;
    font-family: monospace;
    text-decoration: none;
    color: white;
}

li a:hover{
    zoom: 1.5;
}

#color1{
    color: rgb(250, 153, 178);
}

#colorf1{
    color: rgb(250, 153, 178);
}

#main_inscription{
    margin-bottom: 16%;
    margin-top: 13%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bjr_main_inscription{
    font-size: 22px;
    font-style: italic;
}

#titre_inscript{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2%;
}

#imginscript{
    display: flex;
    flex-direction: row;
    width: 22%;
}

#form_inscript{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 19px;
    width: 20%;
    border-radius: 50px;
    padding: 15px;
    margin-left: 70px;
}

.label_inscription{
    margin-left: -26%;
}

.mybutton_inscription{
    height: 37px;
    width: 143px;
    border: 3px solid #eb6279;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    margin-top: 14px;
    background-color: rgb(250, 153, 178);
    margin-left: 13%;
    font-family: sans-serif;
}

.input_inscription{
    height: 10px;
    width: 160px;
    margin-left: 5%;
    border: dotted;
    padding: 10px 20px;
    margin: 10px;
}


#foot_inscript{
    margin-top: 1%;
    background-color: cadetblue;
    box-shadow: 0px 9px 11px black;
    border: solid 1px;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
	justify-content: space-around;
}

.navfoot{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 42%;
}

.navfoot a{
	color: white;
	text-decoration: none;
}

.navfoot a:hover{
	color: white;
}



/*------------CONNEXION----------------*/



body{
    background-color: bisque;
    background-size: 100% 100%;
    margin:0;  
}

header{
    background-color: cadetblue;
    box-shadow: 0px 9px 11px black;
    border: solid 1px;
    height: 75px;
    margin: 0; 
}

ul{
    margin-top: 23px;
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

li a{
    text-shadow: 3px 3px 2px black;
    font-size: 30px;
    font-family: monospace;
    text-decoration: none;
    color: white;
}

#color2{
    color: fuchsia;
}

#colorf2{
    color: fuchsia;
}

li a:hover{
    zoom: 1.5;
}

#main_connexion{
    margin-bottom: 8%;
    margin-top: 16%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#sect1_main_connection{
    margin-left: 15%;
    display: flex;
    flex-direction: row;
}

#sect2_main_connexion{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#message1_main_connexion{
    font-size: 22px;
    font-style: italic;
}

#imgconnect{
    display: flex;
    flex-direction: row;
    margin-top: -27%;

}

#form_connect{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 28px;
    width: 44%;
    border-radius: 50px;
    padding: 15px;
    margin-left: 15%;
}

.input_connexion {
    border: dotted;
    padding: 10px 20px;
    margin: 10px;
}

.label_connexion{
    
    margin-left: -26%;
}

.mybutton_connexion {
    height: 37px;
    width: 143px;
    border: 3px solid #eb6279;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    margin-top: 14px;
    background-color: rgb(250, 153, 178);
    margin-left: 18%;
    font-family: sans-serif;
}

#foot_connect{
    margin-top: 7%;
    background-color: cadetblue;
    box-shadow: 0px 9px 11px black;
    border: solid 1px;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
	justify-content: space-around;
}



/*---------------PROFIL-------------*/




body{
    background-color: bisque;
    background-size: 100% 100%;
    margin:0;  
}

header{
    background-color: cadetblue;
    box-shadow: 0px 9px 11px black;
    border: solid 1px;
    height: 75px;
    margin: 0; 
}

ul{
    margin-top: 23px;
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

li a{
    text-shadow: 3px 3px 2px black;
    font-size: 30px;
    font-family: monospace;
    text-decoration: none;
    color: white;
}

li a:hover{
    zoom: 1.5;
}

#color4{
    color:yellow;
}

#colorf4{
    color:yellow;
}

#main_connect{
    margin-top: 12%;
}
#main_profil{
    margin-bottom: -44px;
    display: flex;
    justify-content: center;
}

.h3_profil{
    border: solid 2px black;
    padding: 6%;
    text-align: center;
    font-size: 23px;
    margin-left: -155%;
    margin-top: 268%;
    color: yellow;
    text-shadow: 2px 1px 1px black;
}

#h3_modif{
    margin-top: 16%;
    margin-left: 57%;
}

#section_profil_gauche{
    margin-top: 1%;
    display: flex;
    flex-direction: row;
}

#form_profil_gauche{
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 28px;
    width: 25%;
    border-radius: 50px;
    padding: 15px;
    margin-top: 27%;
}

#mybutton_profil_gauche{
    height: 37px;
    width: 143px;
    border: 3px solid #eb6279;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    margin-top: 14px;
    background-color: rgb(250, 153, 178);
    margin-left: 6%;
    padding-top: 7px;
    font-family: sans-serif;
}

#section_profil_droit{
    margin-top: -14%;
	display: flex;
    flex-direction: row;
}

#form_profil_droit{
    margin-bottom: 47%;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 28px;
    width: 103%;
    padding: 15px;
    margin-top: 119%;
}


#mybutton_profil_droit{
    height: 37px;
    width: 143px;
    border: 3px solid #eb6279;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    margin-top: 14px;
    background-color: rgb(250, 153, 178);
    margin-left: 3%;
    padding-top: 7px;
    font-family: sans-serif;
}

.label_gauche{

}

.input_gauche {
    border: dotted;
    padding: 10px 20px;
    margin: 10px;
}


#image_profil {
    width: 18%;
    height: 5%;
    margin-top: 10%;
    margin-left: -21%;
}


.input_droit{
    border: dotted;
    padding: 10px 20px;
    margin: 10px;
}

#mybutton_deco_prof{
    height: 37px;
    width: 143px;
    border: 3px solid #eb6279;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    margin-top: 14px;
    background-color: rgb(250, 153, 178);
    margin-left: -78%;
    padding-top: 7px;
    font-family: sans-serif;
}

#foot_profil{
    margin-top: 9%;
    background-color: cadetblue;
    box-shadow: 0px 9px 11px black;
    border: solid 1px;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
	justify-content: space-around; 
}



/*---------------ADMIN-------------*/



body{
    background-color: bisque;
    background-size: 100% 100%;
    margin:0;  
}

header{
    background-color: cadetblue;
    box-shadow: 0px 9px 11px black;
    border: solid 1px;
    height: 75px;
    margin: 0; 
}

ul{
    margin-top: 23px;
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

li a{
    text-shadow: 3px 3px 2px black;
    font-size: 30px;
    font-family: monospace;
    text-decoration: none;
    color: white;
}

li a:hover{
    zoom: 1.5;
}

#color5{
    color: maroon;
}

#colorf5{
    color: maroon;
}

#main_admin{
    align-items: center;
    display: flex;
    flex-direction: column;
}

#foot_admin{
    margin-top:4%;
    background-color: cadetblue;
    box-shadow: 0px 9px 11px black;
    border: solid 1px;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
	justify-content: space-around; 
}

#img_papillon{
    display: flex;
    flex-direction: row;
    width: 16%;
    height: 3%;
    margin-top: 1%;
    margin-left: 69%;
}

#tableau{
    font-size: x-large;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -4%;
}

th{
    color: maroon;
}

td{
    color: rgb(133, 65, 243);
}

#mybutton_admin{
    margin-top: 28%;
    color: rgb(0, 217, 255);
    font-size: large;
    border-radius: inherit;
    border-color: coral;
    padding: 8px;
    text-shadow: 1px 1px 1px black;
}


