body{
    background-color: bisque;
    background-size: 100% 100%;
    margin:0;  
}

header{
    background-color: cadetblue;
    box-shadow: 0px 9px 11px black;
    border: solid 1px;
    height: 75px;
    margin: 0; 
}

ul{
    margin-top: 23px;
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

li a{
    text-shadow: 3px 3px 2px black;
    font-size: 30px;
    font-family: monospace;
    text-decoration: none;
    color: white;
}

li a:hover{
    zoom: 1.5;
}

#main_index{
    margin-top: -1%;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

#titremain{
    color: darkorange;
    text-shadow: 3px 1px 2px black;
    font-size: xx-large;
    display:flex;
    flex-direction: row;
    justify-content: center;
}

#imgmain{
    margin-top: -2%;
    display:flex;
    flex-direction: row;
    justify-content: center;
}

#phpmain{
    display:flex;
    flex-direction: column;
    align-items: center; 
}

.mainbas{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

#mybutton_index{
    height: 37px;
    width: 143px;
    border: 3px solid #eb6279;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    margin-top: 14px;
    background-color: rgb(250, 153, 178);
    margin-left: 13%;
    padding-top: 7px;
    font-family: sans-serif;
}

#AD1{
    color: rgb(255, 0, 128);
}

#AD2{
    color: rgb(255, 0, 128);
}

#color{
    color: darkorange;
}

.text{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.etoile{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.imgetoile{
    width: 77%;
    height: 60%;
}

.acces{
    margin-left: 10%;
}

#index{
    background-color: cadetblue;
    box-shadow: 0px 9px 11px black;
    border: solid 1px;
    width: 100%;
    text-align: center;
    font-size: large; 
    margin-top: 1%;
}

a:visited{
    color:white;
}

a{
    text-shadow: 2px 1px 1px black;
    font-size: larger;
}

/*-----------INSCRIPTION-------------*/


body{
    background-color: bisque;
    background-size: 100% 100%;
    margin:0;  
}

header{
    background-color: cadetblue;
    box-shadow: 0px 9px 11px black;
    border: solid 1px;
    height: 75px;
    margin: 0; 
}

ul{
    margin-top: 23px;
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

li a{
    text-shadow: 3px 3px 2px black;
    font-size: 30px;
    font-family: monospace;
    text-decoration: none;
    color: white;
}

li a:hover{
    zoom: 1.5;
}

#color1{
    color: rgb(250, 153, 178);
}

#colorf1{
    color: rgb(250, 153, 178);
}

#main_inscription{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#titre_inscript{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2%;
}

#imginscript{
    display: flex;
    flex-direction: row;
    width: 22%;
}

#form_inscript{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 19px;
    width: 20%;
    border-radius: 50px;
    padding: 15px;
    margin-left: 70px;
}

.label_inscription{
    margin-left: -26%;
}

.mybutton_inscription{
    height: 37px;
    width: 143px;
    border: 3px solid #eb6279;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    margin-top: 14px;
    background-color: rgb(250, 153, 178);
    margin-left: 13%;
    padding-top: 7px;
    font-family: sans-serif;
}

.input_inscription{
    height: 10px;
    width: 160px;
    margin-left: 5%;
    border: dotted;
    padding: 10px 20px;
    margin: 10px;
}

input:focus{
	outline:none;
}

#foot_inscript{
    margin-top: 1%;
    background-color: cadetblue;
    box-shadow: 0px 9px 11px black;
    border: solid 1px;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
	justify-content: space-around;
}

.navfoot{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 42%;
}

.navfoot a{
	color: white;
	text-decoration: none;
}

.navfoot a:hover{
	color: white;
}


/*------------CONNEXION----------------*/

body{
    background-color: bisque;
    background-size: 100% 100%;
    margin:0;  
}

header{
    background-color: cadetblue;
    box-shadow: 0px 9px 11px black;
    border: solid 1px;
    height: 75px;
    margin: 0; 
}

ul{
    margin-top: 23px;
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

li a{
    text-shadow: 3px 3px 2px black;
    font-size: 30px;
    font-family: monospace;
    text-decoration: none;
    color: white;
}

#color2{
    color: fuchsia;
}

#colorf2{
    color: fuchsia;
}

li a:hover{
    zoom: 1.5;
}

#main_connect{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#imgconnect{
    display: flex;
    flex-direction: row;
    margin-top: -27%;

}

#form_connect{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 28px;
    width: 13%;
    border-radius: 50px;
    padding: 15px;
    margin-left: 284px;
    margin-top: 12%;
}

.input_connexion {
    border: dotted;
    padding: 10px 20px;
    margin: 10px;
}

.label_connexion{
    
    margin-left: -26%;
}

.mybutton_connexion {
    height: 37px;
    width: 143px;
    border: 3px solid #eb6279;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    margin-top: 14px;
    background-color: rgb(250, 153, 178);
    margin-left: 13%;
    padding-top: 7px;
    font-family: sans-serif;
}

#foot_connect{
    margin-top: 8%;
    background-color: cadetblue;
    box-shadow: 0px 9px 11px black;
    border: solid 1px;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
	justify-content: space-around;
}

/*---------------PROFIL-------------*/


body{
    background-color: bisque;
    background-size: 100% 100%;
    margin:0;  
}

header{
    background-color: cadetblue;
    box-shadow: 0px 9px 11px black;
    border: solid 1px;
    height: 75px;
    margin: 0; 
}

ul{
    margin-top: 23px;
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

li a{
    text-shadow: 3px 3px 2px black;
    font-size: 30px;
    font-family: monospace;
    text-decoration: none;
    color: white;
}

li a:hover{
    zoom: 1.5;
}

#color4{
    color:yellow;
}

#colorf4{
    color:yellow;
}

#main_profil{
    display: flex;
    justify-content: center;
    flex-grow:1;
}

h3{
    margin-top: 91%;
}
#section_profil_gauche{
    margin-top: 1%;
    display: flex;
    flex-direction: row;
}

#form_profil_gauche{
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 28px;
    width: 25%;
    border-radius: 50px;
    padding: 15px;
    margin-top: 12%;
}

#mybutton_profil_gauche{
    height: 37px;
    width: 143px;
    border: 3px solid #eb6279;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    margin-top: 14px;
    background-color: rgb(250, 153, 178);
    margin-left: 13%;
    padding-top: 7px;
    font-family: sans-serif;
}

#section_profil_droit{
	display: flex;
    flex-direction: row;
}

#form_profil_droit{
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 28px;
    width: 103%;
    border-radius: 50px;
    padding: 15px;
    margin-top: 55%;
}

#mybutton_profil_droit{
    height: 37px;
    width: 143px;
    border: 3px solid #eb6279;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    margin-top: 14px;
    background-color: rgb(250, 153, 178);
    margin-left: 13%;
    padding-top: 7px;
    font-family: sans-serif;
}

.label_gauche{

}

.input_gauche {
    border: dotted;
    padding: 10px 20px;
    margin: 10px;
}

#image_profil{
    margin-right: 6%;
}
#image_profil {
    width: 18%;
    height: 5%;
    margin-top: 10%;
    margin-left: -21%;
}

.label_droite{

}

.input_droit{
    border: dotted;
    padding: 10px 20px;
    margin: 10px;
}

#foot_profil{
    margin-top: 9%;
    background-color: cadetblue;
    box-shadow: 0px 9px 11px black;
    border: solid 1px;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
	justify-content: space-around; 
}

/*---------------ADMIN-------------*/


body{
    background-color: bisque;
    background-size: 100% 100%;
    margin:0;  
}

header{
    background-color: cadetblue;
    box-shadow: 0px 9px 11px black;
    border: solid 1px;
    height: 75px;
    margin: 0; 
}

ul{
    margin-top: 23px;
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

li a{
    text-shadow: 3px 3px 2px black;
    font-size: 30px;
    font-family: monospace;
    text-decoration: none;
    color: white;
}

li a:hover{
    zoom: 1.5;
}

#color5{
}

#colorf5{

}

#main_admin{

}

#foot_admin{
    margin-top: 9%;
    background-color: cadetblue;
    box-shadow: 0px 9px 11px black;
    border: solid 1px;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
	justify-content: space-around; 
}